apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog
  namespace: fastfood
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
        - name: catalog
          image: 674080151285.dkr.ecr.us-east-1.amazonaws.com/fiap-fastfood-ms-catalog
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: catalog-secret
          readinessProbe:
            httpGet:
              path: /api/v1/products
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/v1/products
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 20
