name: deploy-aws.yml
on:
    push:
        branches: [ main ]

env:
    AWS_REGION: us-east-1
    ECR_REPOSITORY: fiap-fastfood-ms-catalog
    EKS_CLUSTER_NAME: fiap-fastfood-eks
jobs:
    deploy:
        name: Build & Deploy to EKS
        runs-on: ubuntu-latest
        #if: github.event_name == 'push' && github.ref == 'refs/heads/main'

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Configure AWS credentials
                uses: aws-actions/configure-aws-credentials@v4
                with:
                    aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                    aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                    aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
                    aws-region: ${{ env.AWS_REGION }}

            -   name: Login to Amazon ECR
                uses: aws-actions/amazon-ecr-login@v2

            -   name: Build, tag and push image
                run: |
                    IMAGE_TAG=${GITHUB_SHA}
                    ECR_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${AWS_REGION}.amazonaws.com

                    docker build -t ${ECR_REPOSITORY}:${IMAGE_TAG} .
                    docker tag ${ECR_REPOSITORY}:${IMAGE_TAG} ${ECR_URI}/${ECR_REPOSITORY}:latest
                    docker tag ${ECR_REPOSITORY}:${IMAGE_TAG} ${ECR_URI}/${ECR_REPOSITORY}:${IMAGE_TAG}

                    docker push ${ECR_URI}/${ECR_REPOSITORY}:latest
                    docker push ${ECR_URI}/${ECR_REPOSITORY}:${IMAGE_TAG}

            -   name: Update kubeconfig
                run: |
                    aws eks update-kubeconfig \
                      --region ${AWS_REGION} \
                      --name ${EKS_CLUSTER_NAME}

            -   name: Deploy to Kubernetes
                env:
                    SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
                    SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
                    SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
                    MONGODB_URL: ${{ secrets.MONGODB_URL }}
                run: |
                    kubectl apply -f k8s/aws/namespace.yaml

                    kubectl create secret generic catalog-secret \
                      --namespace fastfood \
                      --from-literal=SPRING_DATASOURCE_USERNAME="$SPRING_DATASOURCE_USERNAME" \
                      --from-literal=SPRING_DATASOURCE_PASSWORD="$SPRING_DATASOURCE_PASSWORD" \
                      --from-literal=SPRING_DATASOURCE_URL="$SPRING_DATASOURCE_URL" \
                      --dry-run=client -o yaml | kubectl apply -f -

                    kubectl apply -f k8s/aws/catalog-deployment.yaml
                    kubectl apply -f k8s/aws/catalog-service.yaml

            -   name: Force Rollout
                run: |
                    kubectl rollout restart deployment catalog -n fastfood
